:root{
    
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container { 
  background-image: url(../images/weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350rem;
}
.container .wrapper {
  width: 90%;
  max-width: 900px;
  overflow: hidden;
  margin: 0 auto;
}
.details {
  width: 80%;
  position: absolute;
  bottom: -50%;
  left: 25%;
}
#searching {
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
}
.headerDiv {
  width: 100%;
  font-size: 0.7rem;
  text-transform: capitalize;
  font-weight: bold;
}
.heading {
  margin-top: -20rem;
  color: #fff;
}
.outer {
  margin-right: 5rem;
  margin-top: 3rem;
}
#searching {
  margin-left: 30rem;
  margin-bottom: 4rem;
}
form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form #inputField {
  height: 100%;
  padding: 10px 20px;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  width: 70%;
  color: #333;
  margin-left: -16rem;
}
  form #searchBtn {
  padding: 10px 20px;
  background-color: #827bd3;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 1rem;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 50px;
}
#searchBtn:hover {
  background-color: royalblue;
}
#currentBtn {
  padding: 10px 20px;
  background-color: royalblue;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 50px;
}
#currentBtn:hover {
  background-color: #827bd3;
}
.city {
  position: relative;
  top: 100px;
}
#searching{
  position: relative;
  top: 5rem;
  right: 30%;
}
.cityName {
  font-size: 20px;
  margin-left: 3rem;
  color: #fff;
  margin-top: 5rem;
}
.descriptionDiv {
  width: 450px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  background-color: #827bd3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8rem;
  height: 700px;
  color: #fff;
}
#pressure,#humidity,#wind,#realFeel,.weatherDesc{
  font-size: 18px;
  margin-right: 2rem;
}
.tempContent{
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.templist{
  display: flex;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.tempval {
  font-size: 20px;
  margin-right: 4rem;
}
.iconDiv{
  position: relative;
  top: 50px;
  left: 110px;
}
.date{
  position: relative;
  top: 40px;
}
.fontOne{
  margin-left: 1rem;
}
.cell {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
.forecastContainer {
  margin-top: 5rem;
}
.design {
  width: 60%;
}
.conversionDiv{
  width: 500px;
  height: 230px;
  background-color: #827bd3;
  margin-left: 30rem;

  border-radius: 5px;
}
#glyphicon{
  margin-top: 2rem;
}
.conversionarea{
  display: flex;
  justify-content: center;
  align-items: center;
}
#resultDiv{
  position: relative;
  top: 60px;
  left: 2%;
}
#resultContainer{
  margin-left: 3rem;
}
#convertTemp{
  width: 300px;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  color: #333;
  position: absolute;
  left: -25rem;
}
#submit{
  position: absolute;
  right: 1rem;
  top: 4rem;
  padding: 10px;
  border-radius: 25px;
  outline: none;
  border: none;
}
#tempDiff{
  padding: 10px;
  border-radius: 5px;
  width: 3rem;
  position:absolute;
  left: -5rem;
}
.formconversion{
  margin-top: 2rem;
  position: absolute;
}
.next {
  background-color: #827bd3;
  border-radius: 25px;
  padding: 10px 20px;
  color: #fff;
}
.tense{
  font-size: 1rem;
  margin-top: 1rem;
}
.ray{
  margin-top: 0.5rem;
}
.nextFour {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.next:hover {
  background-color: royalblue;
}
.fourDays {
  height: 900px;
  margin-top: 2rem;
  width: 100%;
  color: #fff;
  border-radius: 5px;
}
.day1Temp {
  margin-top: 1rem;
}
.fourDays .mydays {
  text-align: center;
  position: relative;
  top: 6%;
  padding: 10px;
}
.day1 {
  margin-top: 2rem;
}
.innerDay1 {
  margin-top: 1rem;
  padding-top: 2rem;
}
.days {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 20px;
}
.day1:hover {
  border-radius: 5px;
  width: 90%;
  background-color: #827bd3;
  color: black;
  height: 200px;
  margin-top: 2rem;
  height: 300px;
}
.dayTemp,.dayDesc {
  margin-top: 1rem;
}
.butDiv {
  margin-top: 1.5rem;
  margin-left: 23rem;
}
.hide {
  display: none;
}
.bot {
  margin-left: 2rem;
  position: relative;
  top: 10%;
}
.door {
  margin-bottom: 1rem;
}
.footer{
  margin-top: 100rem;  
  margin-left: 40%;
  color: #fff;
}
footer{
  font-weight: bold;
}
.footer a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.highlight{
  color: rgb(33,33,33);
  cursor: default;
}
.highlight:hover{
  text-decoration: none;
}
.highlight{
  display: none;
}

@media all and (min-width: 275px){
  .container {
    width: 100%;
    height: 175rem;
  }
  .container .wrapper {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
  }
  .details {
    width: 60%;
    position: absolute;
    top: 38%;
    left: 2%;
  }
  .conversionDiv{
    width: 270px;
    height: 230px;
    margin-left: 2rem;
    margin-top: 30rem;
  }
  #glyphicon{
    margin-left: 1.5rem;
  }
  #convertTemp{
    width: 150px;
    margin-left: 18rem;
  }
  #tempDiff{
    margin-left: 8rem;
    position: absolute;
    bottom: 7%;
  }
  #submit{
    margin-top: -0.1rem;
    position: absolute;
    right: -7rem;
  }
  form {
    position: absolute;
    left: 125%;
    width: 70%;
    margin-top: 3rem;
    }
  #currentBtn{
    width: 5rem;
    margin-left: -1em;
    }
  #searching{
    position: relative;
    right: 28rem;
    white-space: nowrap;
  }
  .descriptionDiv {
    width: 120%;
    font-size: 0.7em;
    margin-left: 2rem;
    height: 300px;
    margin-top: 15rem;
    white-space: nowrap;
  }
  .date {
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  .times {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.5em;
    font-weight: bold;
  }
  .temp {
    margin-right: 2.5rem;
  }
  .fourDays {
    width: 85%;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 850px;
    margin-top: -6rem;
  }
  .headerDiv {
    width: 100%;
    margin-left: 4rem;
    margin-top: 3rem;
  }
  .next {
    width: 100%;
    margin-left: 4rem;
    }
  .mydays {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 230px;
    width: 300px;
    font-size: 16px;
    margin-left: -5%;
  }
  .day1 {
    white-space: nowrap;
    margin-left: 6.5rem;
  }
  .day1:hover {
    width: 230px;
    margin-left: 4rem;
  }
  .btnDiv {
    position: absolute;
    right: -80%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #okBtn {
    width: 80px;
  }
  .design {
    width: 110%;
  }
  .innerBtnDiv {
    position: absolute;
    right: 10%;
  }
  .footer{
    margin-top: 15rem;  
    margin-left: 13%;
  }
  .footer{
    margin-left: 30%;
  }
@media all and (min-width: 375px) {
  .container {
    width: 100%;
    height: 180rem;
  }
  .container .wrapper {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .conversionDiv{
    width: 330px;
    height: 230px;
    margin-left: 0.5rem;
    margin-top: 30rem;
  }
  #glyphicon{
    margin-left: 1.5rem;
  }
  #convertTemp{
    width: 250px;
    margin-left: 15rem;
  }
  #tempDiff{
    margin-left: 12rem;
  }
  #submit{
    margin-top: -0.1rem;
    position: absolute;
    right: -9rem;
  }
  .details {
    width: 80%;
    position: absolute;
    top: 38%;
    left: 5%;
  }
  form {
    position: absolute;
    left: 70%;
    width: 70%;
  }
  .descriptionDiv {
    width: 250px;
    margin-left: 2rem;
    height: 300px;
  }
  .date {
    margin-bottom: 2rem;
    margin-right: 3rem;  
  }
  .time {
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-weight: bold;
  }
  .temp {
    margin-left: -0.5rem;
  }
  .fourDays {
    width: 85%;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 850px;
    margin-top: -6rem;
  }
  .headerDiv {
    width: 70%;
    margin-left: 4rem;
    margin-top: 6rem;
  }
  .next {
    width: 80%;
    margin-left: 2rem;
  }
  .mydays {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 230px;
    font-size: 16px;
    margin-left: 18%;
  }
  .weatherDesc,.date,.tempval{
    margin-left: 1.5rem;
  }
  .day1 {
    margin-left: 1rem;
  }
  .day1:hover {
    width: 200px;
    margin-left: 1rem;
  }
  .btnDiv {
    position: absolute;
    right: -80%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #okBtn {
    width: 80px;
  }
  .design {
    width: 110%;
  }
  .innerBtnDiv {
    position: absolute;
    right: 10%;
  }
  .footer{
    margin-top: 20rem;
    margin-left: 30%;
  }
}
  @media all and (min-width: 400px) {
  .container {
    width: 100%;
    height: 200rem
  }
  .container .wrapper {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin-top: 10rem;
  }
  form {
    position: relative;
    left: 200px;
    width: 90%;
  }
  .descriptionDiv {
    width: 330px;
  }
  .next {
    width: 80%;
    margin-left: 2rem;
  }
  .temp {
    margin-left: -0.5rem;
  }
  .conversionDiv{
    width: 350px;
    height: 230px;
    margin-left: 0.5rem;
    margin-top: 30rem;

  }
  #tempDiff{
    position: relative;
    top: 2rem;
    left: 10rem;
  }
  #convertTemp{
    width: 250px;
    margin-top: 4rem;
    margin-left: 2rem;
  }
  .selectDiv{
    position: absolute;
    right: 13rem;
  }
  .inputversion{
    position: absolute;
    right: 13rem;
  }
  #submit{
    margin-top: 2rem;
  }
  #glyphicon{
   margin-left: 1rem;
  }
  .fourDays {
    width: 85%;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 980px;
    margin-top: -6rem;
  }
  .details {
    margin-top: 6rem;
  }
  .headerDiv {
    width: 70%;
    margin-left: 4rem;
  }
  .mydays {
     margin-top: 4rem;
    display: grid;
    grid-template-columns: 230px;
    font-size: 16px;
    margin-left: 22%;
    }
  .day1 {
    margin-left: 1rem;
  }
  .day1:hover {
    width: 200px;
    margin-left: 1rem;
  }
  .footer{  
    margin-left: 20%;
    margin-top: 15rem;
  }
}
@media all and (min-width: 700px) {
  .container {
    width: 100%;
    height: 170rem;
  }
  .allModal{
    margin-right: 40rem;
  }
  .container .wrapper {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
  }
  .conversionDiv{
    width: 460px;
    height: 230px;
    margin-left: 7rem;
    margin-top: 30rem;
  }
  #convertTemp{
    width: 250px;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  #tempDiff{
    margin-bottom: 3rem;
  }
  #submit{
    position: relative;
    bottom: 6rem;
    left: 10rem;
  }
  .outer {
    margin-top: 6rem;
    margin-right: 10%;
  }
  form {
    position: absolute;
    margin-right: 10rem;
    width: 70%;
  }
  .temp {
    margin-left: -0.5rem;
  }
  .fourDays {
    width: 100%;
    height: 500px;
    position: relative;
    right: 100px;
  }
  .mydays {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 350px 350px;
    font-size: 16px;
    margin-left: 30%;
  }
  .day1:hover {
    width: 240px;
    margin-left: 3rem;
  }
  .myDiv {
    margin-top: 5rem;
  }
  .descriptionDiv {
    margin-top: 12rem;
  }
  .forecastContainer {
    margin-top: 10rem;
  }
  
  .footer{  
    margin-left: 35%;
    margin-top: 10rem;
  }
}
@media all and (min-width: 1200px) {
  .container {
    width: 100%;
    height: 200rem;
  }
  .heading {
    white-space: nowrap;
  }
  .container .wrapper {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
  }
  .conversionDiv{
    margin-left: 30rem;
    margin-bottom: 45rem;
  }
  .wrapper.details {
    position: absolute;
    top: -60%;
  }
  .outer {
    position: relative;
    right: 10%;
    top: 3rem;
    }
  form {
    position: absolute;
    right: 500px;
    width: 70%;
  }
  form #inputField{
    margin-left: 9rem;
  }
  .headerDiv {
    margin-left: 14rem;
  }
  .myDiv {
    margin-left: 12rem;
    position: relative;
    top: 20%;
  }
  .descriptionDiv {
    width: 300px;
  }
  .fourDays {
    width: 100%;
    height: 400px;
    position: relative;
    top: 100px;
    right: 100px;
    margin-left: 14rem;
  }
  .forecastContainer {
    margin-top: 16rem;
  }
  .temp {
    margin-left: -0.5rem;
  }
  .day1:hover{
    width: 250px;
  }
    .mydays {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    font-size: 16px;
    margin-left: -1%;
  }
  .footer{  
    margin-left: 45%;
    position: relative; 
    top: -600px;
  }
}
}
  